<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<br />

<%= link_to "New sheet music", new_ms_converter_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
  <thread>
    <tr>
      <th>Name</th>
      <th>Download link</th>
      <th></th>
    </tr>
  </thread>

  <tbody>
    <% @ms_converters.each do |ms_converter| %>

      <tr>
        <td><%= link_to ms_converter.name, name_path(ms_converter) %></td>
        <td><%= link_to "Download sheet music", ms_converter.attachment_url %></td>
        <td><%= button_to "Delete", ms_converter, method: :delete, class:
          "btn btn-danger", data: { confirm: "Are you sure that you wish to delete #{ms_converter.name}?" } %> </td>
      </tr>

    <% end %>
  </tbody>
</table>
